@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}


.containers{
  place-items: center;
  align-items: center;
  margin-left: 190px;
}

/* GLOBAL STYLES */
body {
  display: grid;
  place-items: center;
  align-items: center;
  height: 100vh;
}



h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}


p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.cards {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 15.875rem;
  height: 20.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin: 20px;
}


.cards > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__backgrounds {
  object-fit: cover;
  max-width: 112%;
  height: 100%;
}

.card__contents {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 75%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--containers {
  --flow-space: 1.25rem;
}

.card__titles {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__titles::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__buttons {
  padding: 7px;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
  margin: 5px;
}

.card__buttons:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__contents {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__titles::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__backgrounds {
    transition: transform 500ms ease-in;
  }

  .card__contents--containers > :not(.card__title),
  .card__buttons {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .cards:hover,
  .cards:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .cards:hover .card__contents,
  .cards:focus-within .card__contents {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .cards:focus-within .card__contents {
    transition-duration: 0ms;
  }

  .cards:hover .card__backgrounds,
  .cards:focus-within .card__backgrounds {
    transform: scale(1.3);
  }

  .cards:hover .card__content--containers > :not(.card__title),
  .cards:hover .card__buttons,
  .cards:focus-within .card__content--containers > :not(.card__title),
  .cards:focus-within .card__buttons {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .cards:hover .card__titles::after,
  .cards:focus-within .card__titles::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

.box {
  color: blue; /* Change this to the default link color */
  text-decoration: none;
  background-color:lightgrey;
}

/* Link styles on hover */
.box:hover {
  background-color: green; /* Change this to the desired hover color */
}

body{
  background-color: lightblue;
}
